alembic==1.8.0
anyio==3.6.1
beautifulsoup4==4.11.1
blessed==1.19.1
certifi==2022.5.18.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
Flask==2.1.2
Flask-Markdown==0.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
futures==3.0.5
fuzzywuzzy==0.18.0
greenlet==1.1.2
h11==0.12.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.15.0
httpx==0.23.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.11.4
inquirer==2.9.2
itsdangerous==2.1.2
Jinja2==3.1.2
libretranslatepy==2.1.1
lxml==4.9.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
pycodestyle==2.8.0
python-dotenv==0.20.0
python-editor==1.0.4
python-Levenshtein==0.12.2
pyuseragents==1.0.5
readchar==3.0.5
requests==2.27.1
rfc3986==1.5.0
safeIO==1.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.37
toml==0.10.2
translatepy==2.3
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.1.2
wikipedia==1.4.0
WTForms==3.0.1
yapf==0.32.0
zipp==3.8.0
